body {

  box-sizing: border-box;

}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}


.container {
  margin: 0 auto;
  max-width: 1024px;
}

main {
  box-sizing: border-box;
  .container.text {
    padding: 1em;
    flex-direction: column;
  }

  .container {
    display: flex;
    box-sizing: border-box;

    .team {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30em;

      box-sizing: border-box;
    }
    @media (max-width: 600px) {
      /* On mobile */
      flex-direction: column;
      height: 30em;
    }
  }

}

footer {
  text-align: center;
}
