body {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  height: 8em;
  width: 100%;
  text-align: center;
}

main {
  height: calc( 100% - 8em);


  .container {
    display: flex;
    height: 100%;

    .team {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
      height: 100%;
    }
    @media (max-width: 600px) {
      /* On mobile */
      flex-direction: column;
      .team {
        width: 100%;
      }
    }
  }

}
