@font-face {
  font-family: 'signika';
  src: url("src/fonts/signika-regular.woff2") format("woff2"), url("src/fonts/signika-regular.woff") format("woff"), url("src/fonts/signika-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'signika';
  src: url("src/fonts/signika-bold.woff2") format("woff2"), url("src/fonts/signika-bold.woff") format("woff"), url("src/fonts/signika-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
html, body {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  text-align: center; }

.container {
  margin: 0 auto;
  max-width: 1024px; }

main {
  box-sizing: border-box; }
  main .container.text {
    padding: 1em;
    flex-direction: column; }
  main .container {
    display: flex;
    box-sizing: border-box; }
    main .container .team {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30em;
      box-sizing: border-box; }
    @media (max-width: 600px) {
      main .container {
        /* On mobile */
        flex-direction: column;
        height: 30em; } }

footer {
  text-align: center; }

.pop {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }
  .pop .header {
    opacity: 0;
    padding-top: 1em; }
  .pop .sounds {
    opacity: 0;
    display: flex; }
    @media (max-width: 600px) {
      .pop .sounds {
        /* On mobile */
        justify-content: flex-start;
        flex-direction: column;
        align-content: flex-start;
        padding: 6em 1em 1em; } }
    @media (min-width: 601px) {
      .pop .sounds {
        /* On desktop */
        flex-wrap: wrap;
        padding: 6em 0em; }
        .pop .sounds .button {
          margin: .5em 1em; } }
    .pop .sounds .button {
      display: flex;
      align-self: flex-start; }

.team {
  background-blend-mode: multiply;
  border-radius: 6px;
  width: 50%;
  height: 100%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2); }
  .team:hover {
    cursor: pointer; }
  @media (max-width: 600px) {
    .team {
      /* On mobile */
      width: auto; } }

.bg-seb {
  background-blend-mode: multiply;
  background: url("./src/imgs/teamSeb.png"), linear-gradient(to right, #F81EFA, #805EFD);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover; }
  @media (max-width: 600px) {
    .bg-seb {
      /* On mobile */
      background: url("./src/imgs/teamSeb.png"), linear-gradient(to bottom, #F81EFA, #805EFD);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover; } }

.team.seb {
  margin: 0 .5em 0 1em; }
  @media (max-width: 600px) {
    .team.seb {
      /* On mobile */
      margin: 0 1em .5em 1em; } }

.bg-mag {
  background-blend-mode: multiply;
  background: url("./src/imgs/teamMag.png"), linear-gradient(to right, #805EFD, #0C9DFF);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover; }
  @media (max-width: 600px) {
    .bg-mag {
      /* On mobile */
      background: url("./src/imgs/teamMag.png"), linear-gradient(to bottom, #805EFD, #0C9DFF);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover; } }

.team.mag {
  margin: 0 1em 0 .5em; }
  @media (max-width: 600px) {
    .team.mag {
      /* On mobile */
      margin: .5em 1em 0 1em; } }

header {
  padding: 1em;
  margin: 1em 0; }
  header h1.title {
    margin: 0; }
  header p.sub {
    margin: 0; }

footer {
  margin: 1em 0; }
  footer .container {
    padding: 0 1em;
    color: #595959; }

.pop {
  z-index: -1000;
  width: 0;
  height: 0;
  position: fixed; }
  .pop .header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    opacity: 0; }
    .pop .header img {
      cursor: pointer; }

.button {
  padding: 1em 1.3em 1em 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
  background: white;
  border: none;
  border-radius: 6px;
  font-size: 1em; }
  .button:hover {
    cursor: pointer; }
  .button::before {
    content: url("src/imgs/play.svg");
    width: .8em;
    margin-right: .8em; }

.button.active::before {
  content: url("src/imgs/stop.svg"); }

body {
  display: flex;
  flex-direction: column;
  background: white;
  font-family: "signika", helvetica, arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400; }

h2.title.white {
  color: white;
  text-transform: uppercase; }

h1.title {
  line-height: 1.3em; }

a {
  color: #2378bf; }

/*# sourceMappingURL=style.css.map */
