.pop {
  display: none;
  position: absolute;
  background: url('src/imgs/teamSeb.png'),linear-gradient( to right,  #F81EFA, #805EFD);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  background-blend-mode: multiply;
}
