.pop {
  opacity: 0;
  z-index: -1000;
  width: 0;
  height: 0;
  position: fixed;
  

  .header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    .title {

    }
    img {
      cursor: pointer;
    }
  }

}
