.team {
  background-blend-mode: multiply;
  border-radius: $radius;
  width: 50%;
  height: 100%;

  &:hover {
    cursor: pointer;
  }
  @media (max-width: 600px) {
    /* On mobile */
      width: auto;
  }
}


.bg-seb {
  background-blend-mode: multiply;
  background: url('src/imgs/teamSeb.png'),linear-gradient( to right,  #F81EFA, #805EFD);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;

  @media (max-width: 600px) {
    /* On mobile */
    background: url('src/imgs/teamSeb.png'),linear-gradient( to bottom,  #F81EFA, #805EFD);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}



.team.seb {
  margin: 0 .5em 0 1em;
  @media (max-width: 600px) {
    /* On mobile */
    margin: 0 1em .5em 1em;
  }

}


.bg-mag {
  background-blend-mode: multiply;
  background: url('src/imgs/teamMag.png'),linear-gradient( to right,   #805EFD, #0C9DFF );
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;

  @media (max-width: 600px) {
    /* On mobile */
    background: url('src/imgs/teamMag.png'),linear-gradient( to bottom,  #805EFD, #0C9DFF);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}


.team.mag {
  margin: 0 1em 0 .5em;
  @media (max-width: 600px) {
    /* On mobile */
    margin: .5em 1em 0 1em;
  }
}
