@import "base/fonts";
$blue: blue;
$white: white;

$primary:$white ;
$secondary:$blue;
$background: $white;

$radius: 6px;

$font: 'signika', helvetica, arial, sans-serif;
@import "base/reset";
@import "layout/home";
@import "layout/popup";
@import  "teamsMenu";
@import  "header";
@import  "footer";
@import  "pop";
@import  "buttons";





body {
  display: flex;
  flex-direction: column;
  background: $background;
  font-family: $font;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;
}

h2.title.white {
  color: white;
  text-transform: uppercase;

}

h1.title {
  line-height: 1.3em;

}

a {
  color: #2378bf;
}
