@import "base/fonts";
$blue: blue;
$white: white;

$primary:$white ;
$secondary:$blue;
$background: $white;

$radius: 6px;

$font: 'signika', helvetica, arial, sans-serif;
@import "base/reset";
@import "layout/home";
@import  "teamsMenu";





body {
  display: flex;
  flex-direction: column;
  background: $background;
  font-family: $font;
}
